@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

body {
  background-image: url(../bg.jpg);
  background-size: cover;
  color: white;
  min-height: 56rem;
  font-family: "Outfit";
}
header img {
  width: 10rem;
  margin-left: 5rem;
  margin-top: 3rem;
}

#titolo {
  font-size: 64px;
  line-height: 0.9;
}

#question {
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  text-align: center;
  font-size: 50px;
  padding-bottom: 30px;
}

main {
  margin: 5rem;
  max-width: 3;
}

button {
  text-align: right;
  margin-left: 66%;
  font-weight: bold;
  background-color: #00ffff;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.5s;
  margin-top: 10%;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 5px #00ffff;
}
