@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

body {
  background-image: url(../bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Outfit";
}
header img {
  width: 10rem;
  margin-left: 5rem;
  margin-top: 3rem;
  margin: 0;
  margin-top: -100px;
}
/*mauro*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
}
#container {
  width: 150px;
  height: 150px;
  position: relative;
}
#question {
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  text-align: center;
  font-size: 50px;
  padding-bottom: 30px;
}

#quiz {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
  margin: 0 auto;
}

label {
  background-color: gray;
  box-sizing: border-box;
  border: solid 4px;
  border-radius: 50px;
  padding: 20px;
  opacity: 30%;

  font-size: 20px;
  text-align: center;
  cursor: pointer;
  margin-top: 10%;
  margin-left: 10%;
  max-width: 100%;
  transition: transform 0.5s;
}

label:hover {
  opacity: 100%;
  transform: scale(1.1);
}

/* input {
  display: none;   <--- RICORDA DI TOGLIERE IL COMMENTO <---
} */

input[type="radio"]:checked label {
  background-color: red;
  border-color: red;
  color: red;
}

button {
  text-align: right;
  margin-left: 66%;
  font-weight: bold;
  background-color: #00ffff;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.5s;
  margin-top: 10%;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 5px #00ffff;
}
#Ndomanda {
  font-size: 30px;
  text-align: center;
}
