body {
  margin: 0;
  background-image: url(../bg.jpg);
  background-size: cover;
  color: white;
}
header img {
  width: 10rem;
  margin-left: 5rem;
}

#titolo {
  font-size: 64px;
}

h2 {
  color: #c2128d;
  font-weight: bold;
  font-size: 30px;
}

main {
  margin: 5rem;
  max-width: 3;
}

footer {
  margin-top: 5rem;
}
button {
  margin-left: 10rem;
  background-color: #00ffff;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s;
}

button:hover {
  transform: scale(1.1);
}

input {
  border-style: groove;
}
#checkRequired {
  transform: scale(1.5);
  appearance: none;
  border: 2px solid white;
  background-color: transparent;
  width: 12px;
  height: 12px;
}
#checkRequired:checked::after {
  content: "\2714"; /* codice Unicode della spunta */
  color: #c2128d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
