@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");
body {
  margin: 0;
  background-image: url(../bg.jpg);
  background-size: cover;
  color: white;
  font-family: "Outfit", sans-serif;
}

header img {
  width: 10rem;
  margin-left: 5rem;
  margin-top: 3rem;
}

h2 {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-weight: 200;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0;
}

section {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 3rem;
  justify-items: center;
}

section h2 {
  font-weight: 300;
}

.correct {
  text-align: left;
}

.wrong {
  text-align: right;
}

.percent {
  font-weight: 500;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.answers {
  font-weight: lighter;
}

.donut {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background: conic-gradient(#00ffff 0deg 240deg, #c2188b 240deg 360deg);
  padding: 1.5rem;
}

.donut-center p:first-child {
  font-size: 1.2rem;
  font-weight: 600;
}

.donut-center {
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1.4;
  width: 180px;
  height: 180px;
  background: #0b0c2a;
  border-radius: 50%;
  text-align: center;
  padding: 1.5rem;
}

.highlight {
  color: aqua;
}

footer {
  text-align: center;
}

button {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: white;
  border-color: white;
  background-color: transparent;
  padding: 0.8rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s;
  box-shadow: 0rem 0rem 0.5rem 0.5rem #00ffff0b;
  margin-top: 2rem;
}
