@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");
body {
  margin: 0;
  background-image: url(../bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Outfit", sans-serif;
}

header img {
  width: 10rem;
  margin-left: 5rem;
  margin-top: 3rem;
}

h2 {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-weight: 200;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0;
}

section {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 3rem;
  justify-items: center;
}

section h2 {
  font-weight: 300;
}

.correct {
  margin-top: 5rem;
  text-align: left;
}

.wrong {
  margin-top: 5rem;
  text-align: right;
}

.percent {
  line-height: 2.2rem;
  font-weight: 500;
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.answers {
  font-weight: lighter;
}

.donut {
  margin-top: 1rem;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background: conic-gradient(#10ffff 0deg 240deg, #c2128d 240deg 360deg);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0rem 0rem 2rem 0.2rem #0000006a;
}

.donut-center p:first-child {
  font-size: 1rem;
  font-weight: 600;
}

.donut-center div {
  margin-top: 1rem;
}

.donut-center p {
  margin-top: 2rem;
  font-weight: 200;
  font-size: 0.7rem;
  line-height: 1rem;
}

.donut-center {
  background-image: url(../bg.jpg);
  background-size: cover;
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
}

.highlight {
  color: #10ffff;
  font-weight: 500;
}

.redlight {
  color: #c2128d;
  font-weight: 500;
  line-height: 1rem;
}

.spaziatura {
  padding-top: 0.5rem;
}

footer {
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
}

footer div {
  display: inline;
  padding: 0 0.7em;
}
button {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  border-color: white;
  background-color: transparent;
  padding: 1rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s;
  box-shadow: 0rem 0rem 1rem 0.1rem #10ffff24;
  margin-top: 3rem;
}

#ripetiTest {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  border-color: transparent;
  background-color: #c2128d;
}

ul {
  margin-bottom: 2rem;
}
li {
  margin-top: 5rem;
  text-align: left;
}
